/*--------------------------------------------------------------
# GALLERY #
--------------------------------------------------------------*/

/* added from venue template working perfectly fine - ok to copy paste to final code !*/

@media (max-width: 574px) {
    #venue .venue-info h3 {
      font-size: 24px;
    }
  }
  
  #venue .venue-info p {
    color: #fff;
    margin-bottom: 0;
  }
  
  #venue .venue-gallery-container {
    padding-right: 12px;
  }
  
  #venue .venue-gallery {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  
  #venue .venue-gallery img {
    transition: all ease-in-out 0.4s;
  }
  
  #venue .venue-gallery:hover img {
    transform: scale(1.1);
  }
  
  #venue .venue-gallery{
    margin-bottom: 30px;
    overflow: hidden;
  }

/*--------------------------------------------------------------
  *  will sort it once I'll learn css using fixed responsive box height etc*
--------------------------------------------------------------*/


.invis {
    color: white;
  }

/*--------------------------------------------------------------
  *  will sort it once I'll learn css*
--------------------------------------------------------------*/

/*  to sort out make up button without drop shadow*/

.pricing .box-btn {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  }
  
  .pricing .box-btn .btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    border: 2px solid #e43c5c;
    color: #e43c5c;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .pricing .box-btn .btn-buy:hover {
    background: #e43c5c;
    color: #fff;
  }



/* to change color of links in make up section*/


.pricing .sh {
    font-size: 16px;
    color: #444444;
  }
  
  .pricing .sh:hover {
    background: #ffffff;
   
    color: #e90101;
  }
 


 /* invert logo in header section*/

 #header .logo img {
    max-height: 40px;
    
   
 }
    
 

 #header.header-scrolled .logo img, #header.header-inner-pages .logo img {
  filter: invert(100%)  
    
}
 

/* to change icons in CTA section */

#cta-ico .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #e43c5c;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #cta-ico .social-links a:hover {
    background: #e43c5c;
    color: #fff;
    text-decoration: none;
  }

  .cta-follow {
      font-size: 18px;
      
  }


  /* change of border color in first CTA button section */

  .cta .cta-btn {
    
    border: 2px solid #e43c5c;
    color: #fff;
  }
  
  
 
 /* tfixed background on smaller screens*/

 @media (max-width: 768px) {
  #hero {
    background-attachment: fixed;
  }
}

.cta {
  -webkit-backgound-size: cover;
  -o-backgound-size: cover;
  -moz-backgound-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  overflow: auto;
}

  @media (min-width: 1024px) {
    .cta {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    .cta {
      background-attachment: fixed;
    }
  }


  /* to change otline of LANGUAGE buttons in HERO section */


  #hero .btn-get-started {
    
    border: 2px solid #e43c5c;
   
  }
  
  

/* same size link text in each FAQ answer in FAQ section - using ID for each question
 */
 #faq1 a {
  display: inline;
  font-size: 15px;
}

 #faq2 a {
  display: inline;
  font-size: 15px;
}

 #faq3 a {
  display: inline;
  font-size: 15px;
}

 #faq4 a {
  display: inline;
  font-size: 15px;
}

#faq5 a {
  display: inline;
  font-size: 15px;
}

#faq6 a {
  display: inline;
  font-size: 15px;
}


/* email not highlighted as link */

#contact .email a {
  color: #816a6e;
}

#contact .email a:hover {
  color: #e43c5c;
  text-decoration: none;
}

/* social icons in contact section using settings from footer ;/ */

#footer2 .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e43c5c;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer2 .social-links a:hover {
  background: #d01d3f;
  color: #fff;
  text-decoration: none;
}


/* box shadows for pricing and other elements */

.services .icon-box {
  background: #ffffff;
  box-shadow:  5px 5px 10px #9e9e9e, 
               -5px -5px 10px #ffffff;
}

.pricing .box {
  
  background: #ffffff;
  box-shadow:  5px 5px 10px #9e9e9e, 
               -5px -5px 10px #ffffff;
  
}

#header.header-scrolled, #header.header-inner-pages {
 
  box-shadow:  5px 5px 10px #9e9e9e69, 
               -5px -5px 10px #ffffff4f;
  padding: 12px 0;
}

/* box shadows for makeup site and other elements */

.blog .sidebar {
  background: #ffffff;
  box-shadow:  5px 5px 10px #9e9e9e, 
               -5px -5px 10px #ffffff;
               border-radius: 8px;
}

.blog .entry {
  background: #ffffff;
  box-shadow:  5px 5px 10px #9e9e9e, 
               -5px -5px 10px #ffffff;
               border-radius: 8px;
  
}


/* changes to text styles former blog site aka permanent make up */

.blog .entry-single .entry-title {
  font-size: 32px;
  line-height: 42px;
  
}
.blog .entry-single .entry-title span {
 color: #e43c5c;
}

.blog .sidebar a {
  color: #493c3e;
  text-decoration: none;
}

.blog .sidebar ul {
   list-style: none;
   
}

.blog .sidebar a:hover {
  color: #ea6981;
  text-decoration: none;
}

.blog .sidebar li {
  
margin-bottom: 10px;
}

.blog .sidebar ul {
  
  padding-inline-start: 25;
  }

.entry-content p span {
    color: #e43c5c;
  }

/* sticky for pernament make up section - side bar - try tofind fix so first line is still visible */


  .sidebar {
    position: -webkit-sticky; /*safari*/
    position: sticky;
  top: 5%; /* change to stick it higher or lower to the top ;) */
  
  }


  /* changes to list style in permanent-pre-treatment CONTRADICTIONS */

  .contra-absolute-list {
    list-style: none;
    list-style-position: inside;
    border-left: 3px solid #e43c5c;
  }
  .contra-absolute-list li::before {
    content: "•";
    font-size: 15px;
    line-height: 0;
    margin: 0 0.3rem 0 -0.25rem;
    position: relative;
    color: #e43c5c;
  }

  .contra-absolute-list li {
    font-size: 15px;
  }

  .contra-against-list {
    list-style: none;
    list-style-position: inside;
    border-left: 3px solid #444444;
  }
  .contra-against-list li::before {
    content: "•";
    
    line-height: 0;
    margin: 0 0.3rem 0 -0.25rem;
    position: relative;
    
    color: #444444;
  }

  .contra-against-list li {
    font-size: 15px;
  }